.container {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    border-radius: inherit;
}

.titleBar {
  padding: 1rem 1rem;

  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.mainArea {
  font-size: 1.618rem;
  color: var(--app-color-light-contrast);

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 8rem;
  aspect-ratio: 1 / 1;
}


