.container {
    background-color: #ffffff;
    background-image: url("/assets/wallpapers/cream-paper.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    border-radius: inherit;
}

.titleBar {
  padding: 1rem 1rem;

  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.mainArea {
  font-size: 1.618rem;
  color: var(--app-color-light-contrast);

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 1.5em 1.5em;
  // justify-content: center;
  align-items: center;
  max-height: 80vh;
  overflow-y: auto;
}

.img {
  max-width: 8rem;
  aspect-ratio: 1 / 1;
}

.dividerP {
  width: 40%;
  height: 1px;
  background-color: #cccccc;
  margin: 1.0em auto;
}

.dividerPL {
  width: 20%;
  height: 1px;
  background-color: #cccccc;
}


// card

.mainCard {
  width: 60vw;
  height: auto;
  cursor: pointer;
  padding: 1em 1.5em;
  border-radius: 10px;
}

.mainCard:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-in-out;
}

.mainCardTitle {
  width: 60vw;
  height: auto;
  padding: 0em 1.5em;
  border-radius: 10px;
}

.tag {
  margin-bottom: 0.5em;
}

.sectionProj {
  font-family: 'Palatino', 'URW Palladio L', serif;
  font-style: italic;
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0.5em;
  margin-top: 0.6em;
}

.cardTitle {
  font-family: 'Palatino', 'URW Palladio L', serif;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
}

.cardText {
  font-size: 0.6em;
}

.projectimg {
  width: 25vw;
  height: auto;
  border-radius: 10px;
  margin-right: 1.3em;
}

.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.projectBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

i {
  font-style: italic;
}